<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>startServlet</servlet-name>
    <servlet-class>com.company.servlets.StartServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>NewGameServlet</servlet-name>
    <servlet-class>com.company.servlets.NewGameServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>PlayGameServlet</servlet-name>
    <servlet-class>com.company.servlets.PlayGameServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>AcceptGameServlet</servlet-name>
    <servlet-class>com.company.servlets.AcceptGameServlet</servlet-class>
  </servlet>
  
  <!-- Servlets-mapping -->
  
  <servlet-mapping>
    <servlet-name>NewGameServlet</servlet-name>
    <url-pattern>/newGame</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>startServlet</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
    
  <servlet-mapping>
    <servlet-name>PlayGameServlet</servlet-name>
    <url-pattern>/play</url-pattern>
  </servlet-mapping>
  
  
  <servlet-mapping>
    <servlet-name>AcceptGameServlet</servlet-name>
    <url-pattern>/accept</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>TickTackToe.jsp</welcome-file>
  </welcome-file-list>
  
  

</web-app>
